/*
Your project should demonstrate your proficiency with these concepts:

Layout
Backgrounds
Comments
Validation
You will be graded on your ability to demonstrate a proficiency in each of these 
concepts and you will see these reflected in the grading rubric provided. 
Below are the concepts broken down into the requirements for the project:

Layout
  Create a two or three column layout with floats and <div> elements, using the following CSS properties:
  width
  float
  padding
  margin
  clear
Backgrounds
  Add a repeating background image using these CSS properties:
  background-image
  background-repeat
  background-position
  Add a non-repeating background image using these CSS properties:
  background-image
  background-repeat
  background-position
Add a CSS gradient using this CSS property:
  background
Comments
  Add comments to both your HTML and CSS to help with organization. For example, 
  HTML comments where divs close ("end content") and CSS comments to split the stylesheet into
  different sections ("main styles", "navigation", "layout", etc.).
Validation
  Make sure both your HTML and CSS are valid using the W3C Validation Services.
*/
body {
  background-color: #333;
  font-family: "Open Sans","Times New Roman",Georgia,Serif;
  color: rgba(187, 255, 199, 1);
  background-image: url("../images/mxdy.png");
  background-repeat: repeat-y;
  background-position: left;
}
/*main content on page inside*/
.content{
  width:900px;
  margin: auto;
  background-color: rgba(127, 107, 255, 0.5);
  border-style: solid;
  border-radius: 30px;
  border-color: rgb(127, 107, 255);
  padding:20px;
  overflow: auto;
}
/*title heading */
h1{
  text-align: center;
  color:#fff;

}
/*Top nav group*/
#navgroup{
  float: left;
  width: 30%;
  margin: 5px;
  padding:2px;
}
/*def on side of nav */
#def{
  float: left;
  width:60%;
  margin:5px;
  padding:2px;
}
.nav {
  list-style-type: none;
  font-weight: bold;
  background-color: #373d45;
  border-style: solid;
  border-width: 2px;
  border-color: #292d33;
  padding:5px;
  box-shadow: 1px 1px 1px #888888;
}
.nav li a{
  color: #999999;
  text-decoration: none;
}
.nav li a:link{
  color: #000;
}
.nav li a:hover{
  color: rgba(255, 255, 255, 0.8);
}
.nav li a:active{
  color: #fff;
}
.nav li a:visited{
  color: rgba(127, 107, 255, 0.5);
}
.nav li ul {
  margin-left: -30px;
  list-style-type: none;
  font-size: .8em;
  font-style: italic;
}
/*Body paragraphs*/
h2{
  text-decoration: underline;
  color:#999;
}
h3{
  background:url('../images/raceicon.png') repeat-x,linear-gradient(#0e0e0e,#7d7e7d);
  border-style: dashed;
  border-color: #999991;
  border-width: 2px;
  width:auto;
  text-align: center;
  color:#fff;
}
p{
  line-height: 20px;
  color:#fff;
  text-indent: 10px;
}
.col1{
  float:left;
  width:45%;
  margin:5px;
  clear:both;
}
.col2{
  float:right;
  width:45%;
  margin:5px;
}
.gallery figure{
  display: inline-block;
  
}
.gallery figure figcaption{
  font-size: .7em;
  
}
.gallery figure a{
  color: #999999;
  text-decoration: none;
}
.gallery figure a:hover{
  box-shadow: 5px 5px 2px #888888;
}
.gallery figure a img{
  width:100px;
  height:100px;
  border-style: solid;
  border-color: #999;
  border-width: 2px;
  box-shadow: inherit;
}
/*footer*/
.ref{
  font-weight: bold;

}
.ref ul li{
  text-decoration: none;
  display:inline-block;
}
.ref a {
  color: #999999;
  text-decoration: none;
  display:inline-block;
}
.ref a:hover{
  color: rgba(255, 255, 255, 0.8);
}
.ref a:visited{
  color: #999991;
}
